@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
    
}
a {
    text-decoration: none;
}
#testimonials{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%

}
.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #fac08d;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
}
.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial-box {
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color:black;
}
.back-button {
    position: absolute;
    top: 5px;
    left: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 25px 5px;
    font-size: 14px;
    color: black;
    text-transform: uppercase; /* Makes the text all caps */
}
.centered-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh
}

footer {
    background-color: white; /* Dark background */
    color: black; /* White text */
    font-weight: 350;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    bottom: 0;
    position: fixed;
    width: 100%;
}

