/* ================= General Styles ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-bg: #f8c494;
    --secondary-bg: #94c8f8;
    --primary-color: #000;
    --secondary-color: #fff;
    --hover-color: #E0F7FA;
    --transition-speed: 0.3s;
}

a,
a:hover {
    color: var(--hover-color);
}

.social-icon {
    color: var(--secondary-color);
    transition: color 0.1s ease-in-out;
    margin-right: 20px;
}

.social-icon:hover {
    color: var(--hover-color);
}


/* ================= Top Header Styles ================= */

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--primary-bg);
    color: var(--secondary-bg);
    font-weight: bold;
}

.top-header-right .profile-dropdown .profile-link {
    font-size: 1.2rem;
    color: var(--secondary-bg);
    padding: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.top-header-right .profile-dropdown .dropdown-menu {
    min-width: 150px;
    border-radius: 5px;
}

.top-header-right .profile-dropdown:hover .dropdown-menu {
    display: block;
}

.top-header-right .profile-dropdown .dropdown-item {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.top-header-right .profile-dropdown .dropdown-item:hover {
    background-color: var(--hover-color);
}

.top-header-right {
    display: flex;
    align-items: center;
}

.top-header-left {
    display: flex;
    align-items: center;
}

/* Login/Register Button */
.login-register {
    text-decoration: none;
    color: var(--secondary-bg);
    font-size: 1rem;
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.login-register:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--secondary-bg);
    border-color: var(--secondary-bg);
}

/* Company Name & Logo */
.company-logo {
    height: 30px;
    margin-right: 10px;
}

.company-name {
    font-size: 1.4rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

.bookings-link {
    margin-right: 20px;
    color: var(--secondary-bg);
    font-size: 1.2rem;
}

/* ================= Navigation Bar Styles ================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header .navbar {
    background: var(--secondary-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
    line-height: 0.5;
    max-width: 100%;
}

navbar.navbar-expand-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar.navbar-expand-lg {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}

/* Social Icons*/
.navbar-social {
    display: flex;
    align-items: center;
}

/* Navigation Links on the Right */
.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
    transition: color var(--transition-speed);
}

.nav-link:hover {
    color: var(--hover-color);
}

@media (max-width: 768px) {
    .navbar-collapse {
        width: 100%;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-item {
        margin: 10px 0;
    }
}